*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
}
body{
    background-color: khaki;
    font-family: 'Poppins', sans-serif;
    
}
button{
    cursor: pointer;
    border: 0;
}
img {
    max-width: 100%;
    display: block;
}
.wrapper{
    max-width: 1600%;
    padding-bottom: 2rem;
    margin: auto;
}
header nav{
    padding: 0 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header nav .nav-list{
    padding: 4rem 0 .5rem 0;
    display: flex;
    gap: 4rem;
}
header nav .nav-list li{
    cursor: pointer;
    font-weight: bold;
}
header nav .nav-list li:nth-child(3){
    color: beige;
}    
header nav .nav-list li:nth-child(3)::before{
    content: '';
    background-color: beige;
    height: 3px;
    width: 50%;
    display: block;
    margin: auto;
}
header nav .user-controls{
    padding: 4rem 0 .5rem 0;
    display: flex;
    gap: 1.5rem;
}
header nav .user-controls .sign-up-btn{
    background-color: darkgoldenrod;
    color: wheat;
    padding: .5rem;
    border-radius: 1rem;
}
header nav .user-controls .log-in-btn{
    background-color: darkgoldenrod;
    color: wheat;
    padding: .5rem;
    border-radius: 1rem;
}
header nav .user-controls .shooping-cart-icon{
    cursor: pointer;
    position: relative;
}
header .breadcrums{
    background-color: wheat;
    display: flex;
    justify-content: space-between;
    padding: 1rem 4rem;
}
header .breadcrums .breadcrums-list{
    color: gray;
    display: flex;
    gap: .5rem;
}
header .breadcrums .breadcrums-list li:nth-child(odd){
    cursor: pointer;
}
header .breadcrums .breadcrums-list li:nth-child(odd):hover{
    text-decoration: underline;
}
main{
    padding: 0 4rem;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 20% auto;
    gap: 1rem;
}
.categories h2{
    color: beige;
    margin-bottom: 1rem;
}
.categories .categories-list{
    margin-bottom: 4rem;
}
.categories .categories-list li{
    cursor: pointer;
    margin-bottom: 1rem;
    padding-left: 1rem;
}
.categories .categories-list li:hover{
    text-decoration: underline;
}
.categories .categories-list .category-dropdown{
    margin-left: -1rem;
    font-weight: bold;
}
.categories .categories-list .category-dropdown:before{
    content: 'V';
    color: darkgoldenrod;
    margin-right: .5rem;
    font-weight: 400;
}
.main-content .slider{
    height: 400px;
    margin-bottom: 1rem;
    position: relative;
}
.main-content .slider .slider-img{
    height: 80%;
}
.main-content .slider .slider-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}
.main-content .slider .left-arrow-icon{
    cursor: pointer;
    background-color: gray;
    color: white;
    padding: 4rem 1rem;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.main-content .slider .right-arrow-icon{
    cursor: pointer;
    background-color: gray;
    color: white;
    padding: 4rem 1rem;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
.main-content .products{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
    height: 70%;
    width: 90%;
}
.main-content .products .item{
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.main-content .products .item .cost{
    font-weight: bold;
}
.main-content .products .item .item-hover-btn{
    background-color: darkgoldenrod;
    color: wheat;
    padding: 1.5rem;
    width: 100%;
    position: absolute;
    bottom: -100%;
    transition: all 200ms ease;
}
.main-content .products .item:hover .item-hover-btn{
    bottom: 0;
}
.main-content .products .item .item-hover-btn:hover{
    background-color: beige;
}
@media (max-width: 1024px){
    header nav {
        flex-direction: column-reverse;
    }

    header nav .nav-list{
        padding: 2rem 0 .5rem 0;
    }

    header nav .user-controls .log-in-btn{
        padding: .5rem;
    }

    .main-content .products{
        text-align: center;
        gap: 1rem;
    }
}
@media (max-width: 768px){
    header nav .nav-list{
        padding: 1rem 0;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    main{
        grid-template-columns: 1fr;
    }

    main .categories{
        text-align: center;
    }

    .main-content .slider{
        height: auto;
    }
}
@media (max-width: 540px) {
    header .breadcrums{
        padding: 1rem;
        flex-direction: column-reverse;
        align-items: center;
        gap: .5rem;
    }

    main{
        padding: 0 1rem;
    }

    .main-content .slider .left-arrow-icon,
    .main-content .slider .right-arrow-icon{
        padding: 2rem .5rem;
    }

    .main-content .products{
        grid-template-columns: 1fr 1fr;
    }
}
